body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  height: 100vh;
  width: 95vw;
}

.task-modal {
  height: 80%;
  width: 90%;
  overflow-y: scroll;
}

table {
  width: 100%;
  border: 1px solid #999;
}

th, td {
  text-align: center;
  border: 1px solid #999;
}

.pointer:hover {
  cursor: pointer;
}
